<div class="container-fluid">
	<nav class="nav navbar justify-content-between">
		<div class="">
			<div class="navbar-brand">
				<b>Product List</b>
			</div>
			<button class="create" id="btnCreate" title="Create New" data-toggle="modal" data-target="#myModalCreate" ng-click="btnCreate()">Create new</button>
				<a ui-sref="login" class="logout pull-right"><b>Log out</b></a>
		</div>
	</nav>
	<div class="divider"></div>
</div>
<div class="container">
	<div class="content">
		<div class="row">
			<div class="col-md-3" ng-repeat="data in result">
				<div class="thumbnail">
					<button type="button" class="btn btn-default btn-sm" id="btnEdit" title="Edit Data" data-toggle="modal" data-target="#myModalEdit" ui-sref="modaldetail({id: '{{data.id}}'})"">
			        	<span class="glyphicon glyphicon-pencil"></span> 
			        </button>
			        <!-- <button type="button" class="btn btn-default btn-sm">
			        	<span class="glyphicon glyphicon-trash"></span>
			        </button> -->
					<img class="img-responsive" ng-src="{{data.imageurl}}">
					<div class="caption">
						<h3>{{data.name}}</h3>
						<p>$ {{data.price}}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="myModalCreate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" id="closeCreateNew" class="close" data-dismiss="modal" aria-hidden="true">
						<i class="material-icons">close</i>
					</button>
					<h4 class="modal-title">Create New</h4>
				</div>
				<div class="modal-body" ng-submit="addData">
					<div class="form-group">
						<label class="control-label">Name</label>
						<input type="text" id="createNama" ng-model="result.name" class="form-control">
					</div>
					<div class="form-group">
						<label class="control-label">Price</label>
						<input type="number" id="createPrice" ng-model="result.price" class="form-control">
					</div>
					<input type="file" class="btn btn-primary" name="data-foto" id="dataFoto"/>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-default btn-round" data-dismiss="modal" aria-hidden="true">
						<i class="material-icons">Submit</i>
					</button>
					<button type="button" class="btn btn-default btn-round" data-dismiss="modal" aria-hidden="true">
						<i class="material-icons">Cancel</i>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" id="closeEdit" data-dismiss="modal" aria-hidden="true">
						<i class="material-icons">close</i>
					</button>
					<h4 class="modal-title">Edit Data</h4>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label class="control-label">Name</label>
						<input type="text" id="editId" ng-model="result.name" class="form-control">
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" id="submitEditHeadlines" class="btn btn-default btn-round" aria-hidden="true">Submit</button>
					<button type="button" id="batalEditHeadlines" class="btn btn-default btn-round" data-dismiss="modal" aria-hidden="true">Cancel</button>
				</div>
				
			</div>
		</div>
	</div>
</div>